.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.header {
	font-size: 5vw;
	text-align: center;
	height: 80px;
}

.paragraph{
	text-align: center;
}

.body{
	background-color: edebe4;
}

.gambar {
  width: 300px;
  height: auto;
}
