{% load static %}
<html>
	<head>
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<meta http-equiv="pragma" content="no-cache" />
		<title>Lab01 Dahlan</title>
	</head>
	<body class="body">
		<div class="box">
			<div class="header">
				Biodata 
			</div>
			
			<div class="container">
				<img src="{% static 'assets/01Dahlan.png' %}" class="gambar">
				<p class="paragraph">
					Nama : Muhammad dahlan Yasadipura
					<br>
					<br>
					Panggilan : Dahlan
					<br>
					<br>
					NPM : 1806205193
					<br>
					<br>
					Angkatan : 2018
					<br>
					<br>
					hobi : Membaca dan Bermain Games
					<br>
					<br>
					Deskripsi:
					<br>
					Nama saya Muhammad Dahlan Yasadipura
					<br>
					Saya mahasiswa angkatan 2018
					<br>
					Saya terkadang suka menonton anime, membaca novel karya J.R.R. TOLKIEN
					<br>
					dan
					<br>
					Terkadang bermain games hingga mendapatkan platinum trophy
				</p>
			</div>
	</body>
</html>